<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Smile_ContactsPro::smile_core">
                    <resource id="Smile_ContactsPro::contacts_pro">
                        <resource id="Smile_ContactsPro::questions" title="Question list" translate="title" sortOrder="10">
                            <resource id="Smile_ContactsPro::question_save" title="Save Question" translate="title" sortOrder="10" />
                            <resource id="Smile_ContactsPro::question_delete" title="Delete Question" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
