<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smile_ContactsPro::smile_core"
             title="Smile"
             module="Smile_ContactsPro"
             sortOrder="9999"
             resource="Magento_Backend::content"
            />
        <add id="Smile_ContactsPro::contacts_pro"
             title="Contacts Pro"
             module="Smile_ContactsPro"
             sortOrder="10"
             resource="Magento_Backend::content"

             parent="Smile_ContactsPro::smile_core"
            />
        <add id="Smile_ContactsPro::questions"
             title="Questions"
             module="Smile_ContactsPro"
             sortOrder="10"
             resource="Magento_Backend::content"

             parent="Smile_ContactsPro::contacts_pro"
             action="contactspro/question/index"
            />
    </menu>
</config>
